In [9]:
import pandas as pd

In [10]:
import mysql.connector

In [15]:
import pandas as pd
import MySQLdb
import pandas.io.sql as psql


# setup the database connection.  There's no need to setup cursors with pandas psql.
db=MySQLdb.connect(host='51.104.203.80', user='tommy', passwd='Password*8', db='bbg_data')

# create the query
query = "select * from bbg_data_daily"

# execute the query and assign it to a pandas dataframe
df = psql.read_sql(query, con=db)
# close the database connection
db.close()

In [16]:
df.head()

   timestamp         ticker    field    value
0 1980-01-31  GACGB10 INDEX  PX_LAST    10.45
1 1980-02-28  GACGB10 INDEX  PX_LAST    10.55
2 1980-03-31  GACGB10 INDEX  PX_LAST    11.20
3 1980-04-30  GACGB10 INDEX  PX_LAST    11.73
4 1980-05-12      NKY INDEX  PX_LAST  6754.94