In [64]:
# import libraries
import pandas as pd
pd.options.display.max_columns = None 

import numpy as np
import math
import datetime as dt
from datetime import timedelta

# charting libraries
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("seaborn")

import warnings
warnings.filterwarnings('ignore')

from datetime import datetime

In [65]:
df = pd.read_csv("/Users/jakemoore/Code/29Global/trading-with-python-master/tools/tickLogger/tickLogs/tickLog_20210107_135328.csv")

In [67]:
df.columns = ['t', 'instrument', 'price_size','side', 'price_qty']
df['t'] = pd.to_datetime(df['t'], unit='s') 
df = df.set_index('t')
df.head()

                              instrument price_size side     price_qty
t
2021-01-07 18:53:28.880000114        EUR       size  bid  4.000000e+06
2021-01-07 18:53:28.880000114        EUR      price  ask  1.227380e+00
2021-01-07 18:53:28.880000114        EUR       size  ask  4.000000e+06
2021-01-07 18:53:28.880000114        EUR       size  bid  4.000000e+06
2021-01-07 18:53:28.880000114        EUR       size  ask  4.000000e+06

In [73]:
eur = df.loc[df['instrument'] == 'EUR']

In [74]:
eur.head()

                              instrument price_size side     price_qty
t
2021-01-07 18:53:28.880000114        EUR       size  bid  4.000000e+06
2021-01-07 18:53:28.880000114        EUR      price  ask  1.227380e+00
2021-01-07 18:53:28.880000114        EUR       size  ask  4.000000e+06
2021-01-07 18:53:28.880000114        EUR       size  bid  4.000000e+06
2021-01-07 18:53:28.880000114        EUR       size  ask  4.000000e+06

In [83]:
eurusd = eur.loc[eur['price_size'] == 'price']

In [90]:
eurusd_bid = eurusd.loc[eurusd['side'] == 'bid']
eurusd_ask = eurusd.loc[eurusd['side'] == 'ask']

In [88]:
df_eur = eurusd_bid

In [92]:
eurusd_ask.head()

                              instrument price_size side  price_qty
t
2021-01-07 18:53:28.880000114        EUR      price  ask    1.22738
2021-01-07 18:53:30.803999901        EUR      price  ask    1.22740
2021-01-07 18:53:31.571000099        EUR      price  ask    1.22738
2021-01-07 18:53:31.657999992        EUR      price  ask    1.22740
2021-01-07 18:53:33.567000151        EUR      price  ask    1.22738